@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');
body{
  font-family: "Roboto", sans-serif;
  background: #e2d7aa;
  color: #000000;
  text-size: 16px;
  width: 1180px;
  margin: auto;
}
img{
  width: 1100px;
  height: 450px;
}
.img-container{
  width: 1600px;
  height: 450px;
  margin-top: 65px;
  display: block;
}
h1{
  font-size: 60px;
  text-align: center;
  margin-top: 65px;
  font-family: "Indie Flower", cursive;
}
nav{
  margin: 30px;
  text-align: center;
}
a{
  font-size: 28px;
  color: #000;
  text-decoration: none;
}
.home{
  color: #0a2d4a;
  font-weight: bold;
}
article img{
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
  padding: 0;
  margin: 0;
}
main{
  width: 100%;
}
article{
  width: 30%;
  height: 40px;
  display: inline-block;
  padding: 0px;
  height: auto;
  vertical-align: top;
  margin: 10px;
}
p:first-letter{
  font-family: "IM Fell French Canon SC", serif;
  font-size: 40px;
}
span a{
  background: url("images/bg2.jpg");
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
}
footer{
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
article p:last-of-type span:first-of-type a::before{
  content: url("images/comment.png");
  position: relative;
  right: 5px;
  top: 7px;
  padding: 10px;
}
ul li{
  display: inline-block;
  margin: 0 10px;
}
li:last-child a{
  color: #0a2d4a;
  font-weight: bold;
}
article p{
  text-align: justify;
  padding: 10px;
}
article img, h2, h3{
  text-align: center;
  margin: auto;
}
h3 a{
  color: blue;
  font-size: 20px;
}
